<h2>Servicio 1</h2>
<div><span>Id: </span>{{servicio1.id}}</div>
<div><span>Modalidad: </span>{{servicio1.modalidad}}</div>
<div><span>Region: </span>{{servicio1.region}}</div>
<div><span>Plataforma: </span>{{servicio1.plataforma}}</div>
<div><span>Usuario: </span>{{servicio1.usuario}}</div>
<div><span>Name: </span>{{servicio1.name}}</div>
<div><span>Description: </span>{{servicio1.description}}</div>
<div><span>Fecha de inicio: </span>{{servicio1.init_date}}</div>
<div><span>Fecha de fin:</span>{{servicio1.end_date}}</div>