# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\oscar\Desktop\oscar\clases\complejidad algoritmica\New folder\ACAESTAEL FINALFINAL\FINAL FELIZ ..... o no\DWeb_Backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
